/*
/*/
!.gitignore
!hosts

!/sqlite-tools-win32-x86-3240000

!/php
/php/*
/php/*/
!/php/php.ini

!/php/ext/
/php/ext/*
/php/ext/*/
!/php/ext/php_yaml.dll

!/apache
/apache/*
/apache/*/

!/apache/conf
/apache/conf/*
/apache/conf/*/
!/apache/conf/httpd.conf

!/apache/conf/extra
/apache/conf/extra/*
/apache/conf/extra/*/
!/apache/conf/extra/httpd-vhosts.conf

!/apache/conf/extra/vhosts
!/apache/conf/extra/vhosts/test-laravel.apacheconf

!/phpMyAdmin
/phpMyAdmin/*
!/phpMyAdmin/config.inc.php

